* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cc-navbar {
    background-color: rgb(255, 255, 255, 1);
}

.c-nav-link {
    display: block;
    padding: .5rem 1rem;
    color: rgba(45, 85, 255, 1);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}
